

.button__close {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    cursor: pointer;
    font-size: 18px;
    font-weight: normal;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        opacity: 1;
    }
    & a{
        text-decoration: none;
    }
    & a:hover {
        text-decoration: underline;
    }
    svg {
        margin-left: 5px;
    }
}
